table{
  width: 80%;
  margin: auto;
}
caption{
  font-size: 2em;
  font-family: Arail;
  padding:10px;
}

th,td{
  text-align: center;
  font-size: 0.9em;
  font-family: sans-serif;
  padding:5px;
}
tr{
background-color: lightgrey;
}

tbody{
  background-color: whitesmoke;
}

thead,tfoot{
  background-color: lightskyblue;
}

/* lignes paires*/
tbody tr:nth-child(even){
  background-color:lightgrey;

}
/* impaire*/
tbody tr:nth-child(odd){
  background-color: whitesmoke;
  }

thead tr, tfoot tr{
  background-color: lightskyblue;
}
tbody tr:nth-child(6),tbody tr:nth-child(2){
  background-color: lightsalmon;
}
tbody tr:nth-child(odd):hover,tbody tr:nth-child(even):hover{
  background-color: Couleur de fond rgba(0,0,0,0.5);
  color: #fff;
  transition: 0.3s;
}
tr{
  transition: 0.3s
}
 a:link{
  color: red;
}
a:visited{
  color: green;
}
